
@{
    ViewData["Title"] = "Update";
}

<link href="~/lib/bootstrap/dist/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/lib/bootstrap/dist/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<div>
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">设备信息</h4>
            <div class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="FixedAssetId">资产编号</label>
                        <input type="text" class="form-control" id="FixedAssetId" placeholder="" value="@ViewBag.Equipment.FixedAssetId" required="">
                        <div class="invalid-feedback" id="FixedAssetId_Feedback">
                            资产编号必填
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="EquipmentName">设备名称</label>
                        <input type="text" class="form-control" id="EquipmentName" placeholder="" value="@ViewBag.Equipment.EquipmentName" required="">
                        <div class="invalid-feedback" id="EquipmentName_Feedback">
                            设备名称必填
                        </div>
                    </div>
                </div>

                <div class="mb-3">

                    <label for="ScrapDate">报废日期</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text Picker" data-date-format="yyyy-mm-dd" data-link-field="ScrapDate" data-link-format="yyyy-mm-dd">
                                <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 2H4a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2zM3 5.857C3 5.384 3.448 5 4 5h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H4c-.552 0-1-.384-1-.857V5.857z" clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd" d="M8.5 9a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control" id="ScrapDate" placeholder="日期格式：yyyy-MM-dd" value="@ViewBag.Equipment.ScrapDateStr">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="LastMaintenanceName">最近维护人员</label>
                    @foreach (var user in ViewBag.UserList)
                    {
                <div class="custom-control custom-checkbox">
                    @if (ViewBag.Equipment.LastMaintenanceIdSet.Contains(user.Id.ToString()))
                    {
                        <input type="checkbox" class="custom-control-input" id="@(user.Id)_checkbox" data-user="@user.UserName" checked="checked" data-userId="@user.Id" />
                    }
                    else
                    {
                        <input type="checkbox" class="custom-control-input" id="@(user.Id)_checkbox" data-user="@user.UserName" data-userId="@user.Id" />
                    }
                    <label class="custom-control-label" for="@(user.Id)_checkbox">@user.UserName</label>
                </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="LastMaintenanceTime">最近维护日期</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text Picker" data-date-format="yyyy-mm-dd" data-link-field="LastMaintenanceTime" data-link-format="yyyy-mm-dd">
                                <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 2H4a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2zM3 5.857C3 5.384 3.448 5 4 5h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H4c-.552 0-1-.384-1-.857V5.857z" clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd" d="M8.5 9a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control" id="LastMaintenanceTime" placeholder="日期格式：yyyy-MM-dd" value="@ViewBag.Equipment.LastMaintenanceTimeStr">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Remark">备注</label>
                    <textarea class="form-control" id="Remark">@ViewBag.Equipment.Remark</textarea>
                </div>

                <hr class="mb-4">
                <hr class="mb-4">
                <input type="hidden" id="EquipmentId" value="@ViewBag.Equipment.EquipmentId" />
                <button id="save_btn" class="btn btn-primary btn-lg btn-block" type="button">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".Picker").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $("#EquipmentList").addClass("active");

        $("#save_btn").click(function () {
            try {
                var data = {
                    EquipmentId:$("#EquipmentId").val().trim(),
                    EquipmentName: $("#EquipmentName").val().trim(),
                    FixedAssetId: $("#FixedAssetId").val().trim(),
                    Remark: $("#Remark").val().trim()
                };

                if (data.FixedAssetId == "") {
                    $("#FixedAssetId_Feedback").show();
                }

                if (data.EquipmentName == "") {
                    $("#EquipmentName_Feedback").show();
                }

                if (data.FixedAssetId == "" || data.EquipmentName == "") {
                    return;
                }

                var lastMaintenanceNames = "";
                var lastMaintenanceIds = "";
                $(".custom-control-input").each(function () {
                    if ($(this).is(':checked')) {
                        lastMaintenanceNames += "," + $(this).attr("data-user");
                        lastMaintenanceIds += "," + $(this).attr("data-userId");
                    }
                });
                 if (lastMaintenanceIds != "") {
                    data.LastMaintenanceIds = lastMaintenanceIds.substring(1);
                }
                if (lastMaintenanceNames != "") {
                    data.LastMaintenanceNames = lastMaintenanceNames.substring(1);
                }

                if ($("#LastMaintenanceTime").val().trim() != "") {
                    data.LastMaintenanceTime = $("#LastMaintenanceTime").val().trim();
                }

                if ($("#ScrapDate").val().trim() != "") {
                    data.ScrapDate = $("#ScrapDate").val().trim();
                }
                $.ajax({
                    type: "POST",
                    url: "/Equipment/RunUpdate",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Something went wrong!");
                    },
                    success: function (result) {
                        if (result != null && result == "1") {
                             alert("保存成功");
                        } else {
                            alert("保存失败,"+result);
                        }
                    }
                });
            } catch (e) {
                alert(e);
            }
        });
    });
</script>
